#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

.color-title {
  font-weight: normal;
  text-align: right;
}

img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
}
* {
  background-color: ghostwhite;
}
